In [1]:
import numpy as np
import pandas as pd
import os
from num2words import num2words
import openpyxl

In [719]:
master18csv = "18holemaster.csv"
pars18csv = "18holepars.csv"
fwys18csv = "18holefwys.csv"
gir18csv = "18holegir.csv"
putts18csv = "18holeputts.csv"
scores18csv = "18holescores.csv"
yards18csv = "18holeyardages.csv"
hdcps18csv = "18holehandicaps.csv"

In [2]:
sheetsfor18 = ('18 Hole Master', '18 Hole Pars', '18 Hole FWYs', '18 Hole GIR', '18 Hole Putts', '18 Hole by Hole', '18 Hole Yardages', '18 Hole Handicaps', '18 Hole Courses', 'Course Yardage 18', 'Course Pars 18', 'Course Handicaps 18')
sheetsfor9 = ('9 Hole Master', '9 Hole Pars', '9 Hole FWYs', '9 Hole GIR', '9 Hole Putts', '9 Hole by Hole', '9 Hole Yardages', '9 Hole Handicaps', '9 Hole Courses', 'Course Yardage 9', 'Course Pars 9', 'Course Handicaps 9')

In [720]:
master9csv = "9holemaster.csv"
pars9csv = "9holepars.csv"
fwys9csv = "9holefwys.csv"
gir9csv = "9holegir.csv"
putts9csv = "9holeputts.csv"
scores9csv = "9holescores.csv"
yards9csv = "9holeyardages.csv"
hdcps9csv = "9holehandicaps.csv"

In [3]:
test_df = pd.read_excel("Golf Stats '23.xlsx", '18 Hole Courses')
print(test_df[['Course', 'Tees']])

                  Course          Tees
0  Village Links 18 Hole         Black
1  Village Links 18 Hole          Blue
2  Village Links 18 Hole         White
3  Village Links 18 Hole          Gold
4  Village Links 18 Hole           Red
5  Glen Oak Country Club  Championship
6  Glen Oak Country Club        Member

In [26]:
test_df.loc[(test_df.Course == 'Glen Oak Country Club') & (test_df.Tees == 'Championship')]

,Course,Tees,Hole 1,Hole 2,Hole 3,Hole 4,Hole 5,Hole 6,Hole 7,Hole 8,...,Hole 10,Hole 11,Hole 12,Hole 13,Hole 14,Hole 15,Hole 16,Hole 17,Hole 18,Total
5,Glen Oak Country Club,Championship,432,399,200,409,530,157,591,303,...,544,129,402,377,419,380,245,530,443,6841

In [49]:
test_df.loc[int('0'), 'Slope']

138

In [ ]:
str_num = input()

In [ ]:
str_num.isnumeric()

In [46]:
courses_df

                  Course          Tees  Yardage  Rating  Slope
0  Village Links 18 Hole         Black     7208    74.9    138
1  Village Links 18 Hole          Blue     6770    72.9    134
2  Village Links 18 Hole         White     6382    71.2    130
3  Village Links 18 Hole          Gold     6004    69.4    126
4  Village Links 18 Hole           Red     5439    66.8    120
5  Glen Oak Country Club  Championship     6841    73.2    139
6  Glen Oak Country Club        Member     6501    71.6    135

In [44]:
num_holes, master_df, pars_df, fwys_df, gir_df, putts_df, scores_df, yards_df, hdcps_df, courses_df, courses_yards_df, courses_pars_df, courses_hdcps_df, sheets = howmanyholes()

How many holes did you play? 18
This is your 1st 18 hole round

In [51]:
courseinfo()

What date was the round? (mm/dd/yy) 04/23/23
                  Course          Tees
0  Village Links 18 Hole         Black
1  Village Links 18 Hole          Blue
2  Village Links 18 Hole         White
3  Village Links 18 Hole          Gold
4  Village Links 18 Hole           Red
5  Glen Oak Country Club  Championship
6  Glen Oak Country Club        Member
Select course, "new" if not in database 0

AttributeError: 'str' object has no attribute 'numeric'

In [18]:
def howmanyholes():
    while True:
        num_holes = int(input('How many holes did you play? '))
        if num_holes not in (9, 18):
            print('Only enter 9 or 18 hole scores.')
        else:
            if num_holes == 9:
                 sheets = sheetsfor9
            elif num_holes == 18:
                 sheets = sheetsfor18
                    
            master_df = pd.read_excel("Golf Stats '23.xlsx", sheets[0])
            pars_df = pd.read_excel("Golf Stats '23.xlsx", sheets[1])
            fwys_df = pd.read_excel("Golf Stats '23.xlsx", sheets[2])
            gir_df = pd.read_excel("Golf Stats '23.xlsx", sheets[3])
            putts_df = pd.read_excel("Golf Stats '23.xlsx", sheets[4])
            scores_df = pd.read_excel("Golf Stats '23.xlsx", sheets[5])
            yards_df = pd.read_excel("Golf Stats '23.xlsx", sheets[6])
            hdcps_df = pd.read_excel("Golf Stats '23.xlsx", sheets[7])
            courses_df = pd.read_excel("Golf Stats '23.xlsx", sheets[8])
            courses_yards_df = pd.read_excel("Golf Stats '23.xlsx", sheets[9])
            courses_pars_df = pd.read_excel("Golf Stats '23.xlsx", sheets[10])
            courses_hdcps_df = pd.read_excel("Golf Stats '23.xlsx", sheets[11])
            
            num_rounds = len(master_df) + 1
            print('This is your ' + num2words(num_rounds, lang = 'en', to = 'ordinal_num') + ' ' + str(num_holes) + ' hole round')            
            break
            
    return num_holes, master_df, pars_df, fwys_df, gir_df, putts_df, scores_df, yards_df, hdcps_df, courses_df, courses_yards_df, courses_pars_df, courses_hdcps_df, sheets

In [50]:
def courseinfo():
#     print(master_df)
    while True:
        date = input('What date was the round? (mm/dd/yy) ')
        print(courses_df[['Course', 'Tees']])
        new_course = input('Select course, "new" if not in database ')
        if new_course.lower() == 'new':
            course = input('What course did you play? ')
            if course.lower() == 'cantigny':
                cantigny_nines = input('Which Routing?\n1. Woodside/Lakeside\n2. Woodside/Hillside\n3. Lakeside/Hillside\n')
            tees = input('What tees did you play? ')
            course_yardage = int(input('What is the course yardage? '))
            rating = float(input('What is the course rating? '))
            slope = int(input('What is the course slope? '))
        
        elif new_course.numeric() == True and int(new_course) < len(courses_df) and int(new_course) >= 0:
            course = courses_df.loc[int(new_course), 'Course']
            tees = courses_df.loc[int(new_course), 'Tees']
            course_yardage = courses_df.loc[int(new_course), 'Yardage']
            rating = courses_df.loc[int(new_course), 'Rating']
            slope = courses_df.loc[int(new_course), 'Slope']
            
        else:
            print('Select existing course or create a new one. ')
        #assign yardage, rating & slope based on course
        temp_lo = int(input('Low temperature during the round? '))
        temp_hi = int(input('High temperature during the round? '))
        wind_speed = int(input('Wind speed during the round? '))
        gust_speed = int(input('Gust speeds during the round? '))
        round_info = {'Date':date, 'Course':course, 'Tees':tees,
                                   'Yardage':course_yardage, 'Rating':rating, 'slope':slope,
                                   'Low Temperature':temp_lo, 'High Temperature':temp_hi,
                     'Wind Speed':wind_speed, 'Gust Speed':gust_speed}
        print(round_info)
        cont = input('Is this correct? ')
        if cont.lower() == 'y':
            round_info = np.array([date, course, tees, course_yardage, rating, slope, temp_lo, temp_hi, wind_speed,
                         gust_speed])
            break
        else:
            print('Ok, redo it')
    return course, round_info

In [48]:
def holebyhole():
    hole = 0
    round_dic = {'Course':course}
    round_hdcps = np.array([course])
    round_yards = np.array([course])
    round_pars = np.array([course])
    round_fwys = np.array([course])
    round_girs = np.array([course])
    round_putts = np.array([course])
    round_scores = np.array([course])
    
    while hole < num_holes:
        
        while True:
            
            hdcp = int(input('Hole ' + str(hole +1 ) + ' handicap '))
            hole_yards = int(input('Hole ' + str(hole + 1) + ' yardage '))
            hole_par = int(input('Hole ' + str(hole + 1) + ' par '))
            hole_fwy = input('Hole ' + str(hole + 1) + ' fairway? (Y/L/R/S/D, NA for par 3s) ')
            hole_gir = input('Hole ' + str(hole + 1) + ' green in regulation? (Y/L/R/S/D) ')
            hole_putts = int(input('Hole ' + str(hole + 1) + ' putts '))
            hole_score = int(input('Hole ' + str(hole + 1) + ' score '))
            which_hole = 'hole ' + str(hole + 1)
            hole_info = {'HDCP':hdcp, 'Yargage':hole_yards, 'Par':hole_par,
                                   'FWY':hole_fwy, 'GIR':hole_gir, 'Putts':hole_putts,
                                   'Score':hole_score}
            print(hole_info)
            cont = input('Is this correct? ')
            if cont.lower() == 'y':
                round_hdcps = np.append(round_hdcps, hdcp)
                round_yards = np.append(round_yards, hole_yards)
                round_pars = np.append(round_pars, hole_par)
                round_fwys = np.append(round_fwys, hole_fwy)
                round_girs = np.append(round_girs, hole_gir)
                round_putts = np.append(round_putts, hole_putts)
                round_scores = np.append(round_scores, hole_score)
                round_dic[which_hole] = hole_info
                break
            else:
                print('Ok, redo it.')
        hole += 1
    
    round_ls = [round_hdcps, round_yards, round_pars, round_fwys, round_girs, round_putts, round_scores]
    hdcps_df.loc[len(hdcps_df)] = round_hdcps
    yards_df.loc[len(yards_df)] = round_yards
    pars_df.loc[len(pars_df)] = round_pars
    fwys_df.loc[len(fwys_df)] = round_fwys
    gir_df.loc[len(gir_df)] = round_girs
    putts_df.loc[len(putts_df)] = round_putts
    scores_df.loc[len(scores_df)] = round_scores
    

    return round_dic, round_ls, round_scores, round_pars, round_putts, round_fwys, round_girs

In [724]:
def roundstats():
    round_scores_np = np.array(round_scores[1:]).astype(int)
    round_pars_np = np.array(round_pars[1:]).astype(int)
    round_putts_np = np.array(round_putts[1:]).astype(int)
    #to account for 9 hole and 18 hole rounds
    if num_holes == 18:
#         front_score = np.sum(round_scores_np[0:9])
#         back_score = np.sum(round_scores_np[9:])
        scores_arr = np.array([np.sum(round_scores_np[1:10]), np.sum(round_scores_np[10:]), np.sum(round_scores[1:])])
#     score = np.sum(round_scores[0:])
    else:
        scores_arr = np.array([np.sum(round_scores_np[1:])])
    diff = np.sum(round_scores_np[1:]) - round_info[4].astype(float)
    hole_diffs = round_scores_np - round_pars_np #scores to par on each hole
    eagles = sum(np.less_equal(hole_diffs, -2)).astype(int)
    birdies = sum(np.equal(hole_diffs, -1)).astype(int)
    pars = sum(np.equal(hole_diffs, 0)).astype(int)
    bogies = sum(np.equal(hole_diffs, 1)).astype(int)
    doubles = sum(np.greater_equal(hole_diffs, 2)).astype(int)
    fwys = np.count_nonzero(round_fwys == 'Y').astype(int)
    fwy_per = fwys / (num_holes - sum(np.equal(round_pars_np, 3)))
    fwy_per = round(fwy_per, 2)
    gir = np.count_nonzero(round_gir == 'Y').astype(int)
    gir_per = gir / num_holes
    gir_per = round(gir_per, 2)
    putts = sum(round_putts_np).astype(int)
    putts3 = sum(np.equal(round_putts_np, 3)).astype(int)
    
    
    #finding indexes for par 3s, 4s, 5s
    par3_idxs = np.where(round_pars_np == 3)
    par4_idxs = np.where(round_pars_np == 4)
    par5_idxs = np.where(round_pars_np == 5)
    
    #diff and averages 
    par3_diff = sum(np.subtract(round_scores_np[par3_idxs], 3))
    par4_diff = sum(np.subtract(round_scores_np[par4_idxs], 4))
    par5_diff = sum(np.subtract(round_scores_np[par5_idxs], 5))
    
    par3_avg = round(np.average(round_scores_np[par3_idxs]), 2)
    par4_avg = round(np.average(round_scores_np[par4_idxs]), 2)
    par5_avg = round(np.average(round_scores_np[par5_idxs]), 2)
    
   
    master_arr_v1 = np.array([diff, eagles, birdies, pars, bogies, doubles,
                                  fwys, fwy_per, gir, gir_per, putts, putts3,
                                  par3_diff, par3_avg, par4_diff, par4_avg, par5_diff, par5_avg])
    print(master_arr_v1)
    
    master_arrv2 = np.append(scores_arr, master_arr_v1)
    print(master_arrv2)
    
    master_arr = np.append(round_info, master_arrv2)
    print(master_arr)
    
    master_df.loc[len(master_df)] = master_arr

In [53]:
def getScore():
    num_holes, master_df, pars_df, fwys_df, gir_df, putts_df, scores_df, yards_df, hdcps_df, courses_df, courses_yards_df, courses_pars_df, courses_hdcps_df, sheets = howmanyholes()
    
    course, round_info = courseinfo()
    
    round_dic, round_ls, round_scores, round_pars, round_putts, round_fwys, round_gir = holebyhole()
    
    roundstats()
    
    #writing to excel

In [36]:
# with pd.ExcelWriter("Golf Stats '23.xlsx") as writer:
#         writer.book = openpyxl.load_workbook("Golf Stats '23.xlsx")
#         test_df.to_excel(writer, sheet_name = 'test Sheet')

test_df.to_excel("Golf Stats '23.xlsx", sheet_name = 'test sheet')

In [40]:
test_df

,Course,Tees,Hole 1,Hole 2,Hole 3,Hole 4,Hole 5,Hole 6,Hole 7,Hole 8,...,Hole 10,Hole 11,Hole 12,Hole 13,Hole 14,Hole 15,Hole 16,Hole 17,Hole 18,Total
0,Village Links 18 Hole,Black,380,572,206,465,400,552,436,159,...,384,197,346,483,429,574,554,204,422,7208
1,Village Links 18 Hole,Blue,363,541,181,436,369,524,414,143,...,355,176,324,455,409,552,527,184,395,6770
2,Village Links 18 Hole,White,341,519,156,413,350,502,395,121,...,337,161,304,434,389,526,500,157,375,6382
3,Village Links 18 Hole,Gold,320,499,125,391,329,482,376,106,...,316,144,285,410,370,500,481,139,353,6004
4,Village Links 18 Hole,Red,262,431,112,361,297,438,347,95,...,291,131,254,377,338,440,454,128,329,5439
5,Glen Oak Country Club,Championship,432,399,200,409,530,157,591,303,...,544,129,402,377,419,380,245,530,443,6841
6,Glen Oak Country Club,Member,424,363,189,392,517,135,551,292,...,539,110,385,360,409,371,209,501,418,6501